# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*~
*.swo
*.swp
*.tmp
*.temp
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# iOS
/Pods/
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Flutter/Flutter.framework/
/ios/.symlinks/
/ios/.generated/
/ios/.dart_tool/
/ios/Flutter/App.framework/
/ios/Flutter/engine/
/ios/.xcconfig/
/ios/Flutter/.Generated.xcconfig
/ios/Flutter/Flutter.framework.dSYM/
/ios/Flutter/App.xcworkspace/
/ios/Flutter/App.xcframework/
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig

# Android
/build/
/gradle/
/local.properties
**/android/.gradle/
/android/.idea/
/android/captures/
/android/.cxx/
/android/app/build/
/android/app/intermediates/
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Windows
/windows/.dart_tool/
/windows/.generated/
/windows/flutter/Debug/
/windows/flutter/Release/
/windows/CMakeFiles/
/windows/cmake-build-debug/
/windows/flutter/GeneratedPluginRegistrant.obj

# Linux
/linux/.dart_tool/
/linux/.generated/
/linux/flutter/Debug/
/linux/flutter/Release/
/linux/build/

# Web
/web/.dart_tool/
/web/.generated/
/web/flutter/Debug/
/web/flutter/Release/
/web/.cache/

# VS Code
#.vscode/

# Pubspec lock
pubspec.lock
